body {
  background-color: var(--black);
}

section {
  padding: 2%;
  display: flex;
  flex-direction: column;
}

img.vignette {
  border-radius: 12px;
  height: 250px;
  width: 180px;
  margin-left: 20px;
}

h3 {
  font-family: Audiowide;
  color: var(--blue);
  margin-right: 10px;
}

div.titre a {
  font-family: Exo;
  color: var(--white);
  text-decoration: none;
}

div.liste {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

div.titre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.liste {
  overflow-x: scroll;
  scrollbar-color: var(--blue) none;
  border-radius: 12px;
  padding-bottom: 10px;
}

div.liste::-webkit-scrollbar {
  height: 8px;
}

div.liste::-webkit-scrollbar-track {
  background: none;
}

div.liste::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 20px;
}
