main {
  padding: 2%;
}

body {
  background-color: #242222;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 0 25px 0;
}

section {
  display: flex;
  flex-flow: row wrap;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  padding: 0.3rem 0.5rem;
  color: var(--white);
  border-radius: 25px;
  font-family: Audiowide;
  transition: 0.35s;
}
input[type="radio"]:checked + label {
  background-color: var(--blue);
  color: var(--black);
  transition: 0.35s;
}

input[type="radio"]:hover + label {
  background-color: var(--blue);
  color: var(--black);
  transition: 0.35s;
  opacity: 0.5;
}

button[type="submit"] {
  background-color: var(--blue);
  font-family: Exo, Arial;
  border-radius: 24px;
  color: var(--black);
  font-weight: bold;
  padding: 5px 10px;
  font-size: medium;
  transform: scale(1);
  transition: 0.5s;
}

button[type="submit"]:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background-color: #58eaea;
}

select {
  background-color: var(--blue);
  font-family: Exo, Arial;
  border-radius: 24px;
  color: var(--black);
  font-weight: bold;
  padding: 5px 10px;
  font-size: medium;
}

label {
  align-self: center;
}

img.vignette,
div.vignette {
  border-radius: 12px;
  height: 250px;
  width: 180px;
  margin: 5px 10px;
}

div.vignette {
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.vignette p {
  font-size: 18px;
}

section a {
  text-decoration: none;
}
