body{
    background-color: #242222;
    text-align: center;
}

header{
    border-bottom: 20px solid #242222;
}

h1 {
  font-size: 28px;
  color: var(--blue);
  font-family: Audiowide, arial;
  font-weight: 100;
}