{% extends 'template/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WNR</title>
</head>
<body>
    <p>mes suggestions</p class="sous-titre">
    <p>voir plus</p class="voir plus">
    <p>ma liste</p class="sous-titre">
    <p>voir plus</p class="voir plus">
    <p>Tendances</p class="sous-titre">
    <p>Films</p class="sous-titre">
    <p>Séries</p class="sous-titre">
    <a https://image.tmdb.org/t/p/original/zDyT3gIeae39UgL9P6jL5Zc3zyt.jpg />

</body>
</html>