{% extends 'base.html' %} 
{% load static %} 

{% block head %}
  <title>CGU</title>
  <link rel="stylesheet" href=" {% static '/css/cgu.css'%}"/>

{% endblock %} 

{% block content %}
<main>
    <h3>Conditions générales d'utilisations de Watch'N Rate</h3>

    <section>    
        <h5>ARTICLE 1 : Objet</h5>
        <p>
            Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique de l’utilisation du site Watch’N Rate et de ses services. <br>
            Ce contrat est conclu entre : <br>
            L’équipe de Watch and Rate, <br>
            Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ». <br>
            Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions. 
        </p>
    </section>

    <section>
        <h5>ARTICLE 2 : Mentions légales</h5>
        <p>
            Le site Watch’N Rate est réalisé par un groupe d’étudiants dans le cadre d’un projet universitaire. Les membres du groupe sont :<br> 
        </p>
        <ul>
            <li>BRETTE Laurine</li>
            <li>CARVALHEIRO Justin</li>
            <li>FORISSIER Evan</li>
            <li>GABORIT Victor</li>
            <li>MEURET Justine</li>
        </ul>
    </section>
    <section>
        <h5>ARTICLE 3 : Accès aux services</h5>
        <p>
            L’utilisateur du site Watch’N Rate a accès aux fonctionnalités suivantes :
        </p>
        <ul>
            <li>Accès à la base de données de films et séries, ainsi que toutes leurs informations</li>
            <li>S’inscrire pour accéder à plus de fonctionnalité</li>
        </ul>
        <p>
            Tout utilisateur ayant accès à Internet peut accéder gratuitement au site, peu importe la localisation géographique. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.
            Les services suivants ne sont accessibles pour l'utilisateur que s’il est membre du site : <br>
        </p>
        <ul>
            <li>Se connecter au site à l’aide de ses identifiants de connexion</li>
            <li>Noter les films et séries</li>
            <li>Marquer un film ou une série comme “Vu”</li>
            <li>Ajouter un film ou une série dans sa liste</li>
            <li>Obtenir des suggestions de films et séries</li>
            <li>Obtenir des statistiques sur les films et séries visionnés</li>
        </ul>
        <p>
            Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.
        </p>
    </section>
    <section>
        <h5>ARTICLE 4 : Utilisation des données récoltées</h5>
        <p>
            Le site Watch’N Rate récupère et stocke plusieurs données pour le bon fonctionnement de certaines fonctionnalités. Seules les données des utilisateurs connectés sont récoltées et stockées, ces données sont : 
        </p>
        <ul>
            <li>Films et séries marqués comme “Vu”</li>
            <li>Note donné par l’utilisateur sur un film ou une série</li>
            <li>Identifiants de connexion (adresse mail et mot de passe)</li>
        </ul>
        <p>
            Les identifiants de connexion sont stockés afin de permettre à l’utilisateur de se connecter sur le site à n’importe quel moment.<br>
            Les notes et les contenus visionnés par l’utilisateur sont stockés pour permettre de suggérer des films et séries à l'utilisateur. Ces données sont traitées pour élaborer des statistiques (accessibles à l’utilisateur) qui sont ensuite utilisées par une Intelligence Artificielle, conseillant par la suite des films et séries susceptible d’être appréciée par l’utilisateur.
        </p>
    </section>
    <section>
        <h5>ARTICLE 5 : Responsabilité de l’Utilisateur</h5>
        <p>
            L'utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe.<br>
            Le mot de passe de l’utilisateur doit rester secret. En cas de divulgation de mot de passe, l’Éditeur décline toute responsabilité.<br>
            L'utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site Watch’N Rate.<br>
            Tout usage du service par l'utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site.<br>
        </p>
    </section>
    <section>
        <h5>ARTICLE 6 : Responsabilité de l’Éditeur</h5>
        <p>
            Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.<br>
            De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.<br>
            Le site Watch’N Rate s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.<br>
            L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées sur le site soient réputées fiables.<br>
        </p>
    </section>
    <section>
        <h5>ARTICLE 7 : Propriété intellectuelle</h5>
        <p>
            Les contenus du site Watch’N Rate (logos, textes, éléments graphiques, etc.) sont protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.
            L'utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.
            Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.
            L'utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.
            L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce, sans justification.
        </p>
    </section>
    <section>
        <h5>ARTICLE 8 : Données personnelles</h5>
        <p>
            L’Utilisateur doit obligatoirement fournir des informations personnelles pour procéder à son inscription sur le site.
            L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site Watch’N Rate pour la communication d’informations diverses et la gestion du compte.
            Watch’N Rate garantit le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
        </p>
    </section>
    <section>
        <h5>ARTICLE 9 : Liens hypertextes</h5>
        <p>
            Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l'éditeur de Watch’N Rate, qui n’a pas de contrôle sur ces liens.
            Il est possible pour un tiers de créer un lien vers une page du site Watch’N Rate sans autorisation expresse de l’éditeur.  
        </p>
    </section>
    <section>
        <h5>ARTICLE 10 : Évolution des conditions générales d’utilisation</h5>
        <p>
            Le site Watch’N Rate se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.
        </p>
    </section>
    <section>
        <h5>ARTICLE 11 : Durée du contrat</h5>
        <p>
            La durée du présent contrat est indéterminée. Le contrat produit ses effets à l'égard de l'utilisateur à compter du début de l’utilisation du service.
        </p>
    </section>
    <section>
        <h5>ARTICLE 12 : Droit applicable et juridiction compétente</h5>
        <p>
            Le présent contrat dépend de la législation française.
            En cas de litige non résolu à l’amiable entre l'utilisateur et l'éditeur, les tribunaux de Clermont-Ferrand sont compétents pour régler le contentieux.
        </p>
    </section>

   
</main>
{% endblock %}
