{% extends 'base.html' %} {% load static %} {% block head %}
<title>WNR - {{ programme.titre }}</title>
<link rel="stylesheet" href="{% static '/css/detail_programme.css'%}" />

{% endblock %} {% block content %}
<main>
  <section id="BlocGlobalHaut">
    <img
      id="affiche"
      src="https://image.tmdb.org/t/p/w500/{{ programme.affiche }}"
    />
    <div id="Description">
      <h1>{{ programme.titre }}
        {% if programme.titre != programme.titreOriginal %}
        <span>({{ programme.titreOriginal }})</span>
        {% endif %}

      </h1>
      <div id="Infos_générales">
        <p>{{ programme.date }}</p>
        <img src="{% static '/images/losange.svg' %}" />

        {% if isFilm %}
        <p>{{ programme.duree }} min</p>
      </div>
      {% else %}
      <p>{{ programme.dureeMoyEp }} min</p>
      <img src="{% static '/images/losange.svg' %}" />
      <p>{{ programme.nombreSaison }} saison(s)</p>
      <img src="{% static '/images/losange.svg' %}" />
      <p>{{ programme.nombreEpisodes }} épisode(s)</p>
       </div>
      <h3>Status</h2>
      <p id="status">{{ programme.status }}</p>
      {% endif %}
      <h3>Genres</h3>
      <div id="Genres">
        {% for genre in programme.listGenre.all %}
        <p>{{ genre.nom }}</p>
        <img src="{% static '/images/losange.svg' %}" />
        {% endfor %}
      </div>
      <h3>Synopsis</h3>
      <div id="Synopsis">
        <p>{{ programme.description }}</p>
      </div>
    </div>
  </div>
  <div id="Notation">
    <div id="ligne1bouton">
      <div id="like">
        {% if user.is_anonymous %}
        <a class="bouton" href="{% url 'pageConnexion' %}"><img src="{% static '/images/plus.svg' %}"></a>
        {% elif inMaListe %}
        <a class="bouton" href="{% url 'listProgramme' programme.id 'maListe' 'remove' %}"><img src="{% static '/images/check.svg' %}"></a>
        {% else %}
        <a class="bouton" href="{% url 'listProgramme' programme.id 'maListe' 'add' %}"><img src="{% static '/images/plus.svg' %}"></a>
        {% endif %}
        <p>Ma liste</p>
      </div>
      <div id="Vu">
        {% if user.is_anonymous %}
        <a class="bouton" href="{% url 'pageConnexion' %}"><img src="{% static '/images/eye.svg' %}"></a>
        {% elif inListeDejaVue %}
        <a class="bouton" href="{% url 'listProgramme' programme.id 'listeDejaVue' 'remove' %}"><img src="{% static '/images/close_eye.svg' %}"></a>
        {% else %}
        <a class="bouton" href="{% url 'listProgramme' programme.id 'listeDejaVue' 'add' %}"><img src="{% static '/images/eye.svg' %}"></a>
        {% endif %}
        <p>Vu</p>
      </div>
    </div>
    <div id="ligne2bouton">
      <div id="Note">
        <p>Note</p>
        <div id="BoutonNote">
          <a class="bouton" href="{% url 'noteProgramme' programme.id 1 %}">1</a>
          <a class="bouton" href="{% url 'noteProgramme' programme.id 2 %}">2</a>
          <a class="bouton" href="{% url 'noteProgramme' programme.id 3 %}">3</a>
          <a class="bouton" href="{% url 'noteProgramme' programme.id 4 %}">4</a>
          <a class="bouton" href="{% url 'noteProgramme' programme.id 5 %}">5</a>
        </div>
      </div>
    </div>
  </div>
  </section>
  <section id="blocPlateformes">
    <h3>Disponible sur</h3>
    <div class="plateformes">
      {% for i in plateformes %}
      <img class="logo_plateforme" src="{% static i %}"/>
      {% endfor %}
    </div>
  </section>
  <section id="blocCasts">
    <div>
      <h3>Producteurs</h3>
      {% for p in producteurs %}
        <p>{{ p.prenom }} {{ p.nom }}</p>
      {% endfor %}
    </div>

    <div>
      <h3>Scénaristes</h3>
      {% for p in scenaristes %}
        <p>{{ p.prenom }} {{ p.nom }}</p>
      {% endfor %}
    </div>

    <div>
      <h3>Compagnie de productions</h3>
      {% for p in compaProd %}
        <p>{{ p.nom }}</p>
      {% endfor %}
    </div>
  </section>

  <section id="blocActeur-Video">
    <div id="bloc_gauche">
      <h3>Acteurs</h3>
      <div id="liste">
        <div id="acteurs">
          {% for key, value in acteurs.items %}
          <p>{{ key.prenom }} {{ key.nom }}</p>
          {% endfor %}
        </div>
        <div id="roles">
          {% for key, value in acteurs.items %}
          <p>{{ value.nom }}</p>
          {% endfor %}
        </div>
      </div>
    </div>

    {% if programme.bandeAnnonce != 'False' %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ programme.bandeAnnonce }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}
  </section>

</main>
{% endblock %}
