{% extends 'base.html' %} {% load static %} {% block head %}
<title>WNR</title>
<link rel="stylesheet" href=" {% static '/css/accueil.css'%}" />

{% endblock %} {% block content %}
<main>
  <section>
    {% for programme in programmes %}
    <a href="{% url 'detail_programme' programme.id %}">
      <img
        class="vignette"
        src="https://image.tmdb.org/t/p/w500/{{ programme.affiche }}"
        alt="{{ programme.titreOriginal }}"
      />
    </a>
    {% endfor %}
  </section>
</main>
{% endblock %}
