<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/css/modal.css' %}" />
    <title>Message</title>
</head>
<body>

<div id="popup-message">
    {% if messages %}
       {% for message in messages %}
         <div class="modal">{{ message }}</div>
       {% endfor %}
    <div class="button_container">
       <button id="close" class="btn btn-danger">Fermer</button>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    var popup = document.getElementById("popup-message");
    if(popup.innerHTML.trim() != ''){
        popup.style.display = "block";
    }
    document.getElementById("close").addEventListener("click", function(){
        popup.style.display = "none";
    });
</script>

</body>
</html>