{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>page Connexion</title>
        <link rel="stylesheet" href=" {% static '/css/style.css'%}"/>
    </head>

    <body>
        <div class="container"> 

            <p> WNR <br>
            Se connecter avec un <br> compte WNR
            </p>

            <form action="/your-name/" method="post">
                <label for="Adresse_mail"></label>
                  <input  type="email" name="Adresse_mail" placeholder="Adresse mail" required>
 
                <label for="Mot_de_passe"></label>
                    <input  type="password" name="Mot_de_passe" placeholder="Mot de passe" required>

                    <a href="">Mot de passe oublié?</a>

                <div class="boutonValider">
                    <label for="Bouton"> </label>
                        <input type="submit" name="Bouton" value="Se connecter">
                </div> 
            </form>

            <div class="finConnexion">
            <p>Vous n’avez pas de compte WNR ?</p>
            <a href="{% url 'pageCreation' %}">Créer un compte</a>
          </div>
           
          <a id="RetourAcceuil" href="{% url 'index' %}"> Retour à la page d'acceuil</a>

    </body>
</html>