{% extends 'base.html' %}

{% block content %}

{% load static %}

	<link rel="stylesheet" href="{% static '/css/programme.css'%}"/>

	<h1> Etre un film ou une série, telle est la question... o-o </h1>
	<main>
		<section>
			<select id="genre" name="genre">
				<option value="" selected>Genre</option> 
			{% for genre in genres %}
				<option value="{{genre}}">{{genre}}</option> 
  			{% endfor %}
			</select>
		</section>
		<section>
			<select id="annee" name="annee">
				<option value="" selected>Année</option> 
			{% for annee in annees %}
				<option value="{{annee}}">{{annee}}</option> 
  			{% endfor %}
			</select>
		</section>
		<section>
			<select id="duree" name="duree">
				<option value="" selected>Durée</option> 
			{% for duree in durees %}
				<option value="{{duree}}">{{duree}}</option> 
  			{% endfor %}
			</select>
		</section>
		<section>
			{% for caractere in lettres %}
			<div>
				<input type="radio" name="lettre" id="lettre"/>
				<label for="lettre">{{caractere}}</label>
			</div>
      		{% endfor %}
		</section>
	</main>

{% endblock %}