<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>suppression compte</title>
    <link rel="stylesheet" href="./CSS/suppression.css"/>
  </head>

  <body> 

    <div class="container">
        <!-- <svg>WNR</svg>  -->
         <p>Supprimer son <br> compte WNR</p>
       
        <p>Vous êtes sur le point de supprimer votre compte
            WNR. Veuillez cliquer sur le bouton Supprimer pour 
            rendre la  suppression de compte effective
        </p>  

        <button type="button">Annuler</button>   
        <button type="button">Supprimer</button>   
    </div>

    </body>